name: Publish action artifact to GitHub project's Maven repository

on:
  workflow_dispatch:
  push:
    branches:
      # Add branches here if you want to publish the action for more branches
      - "main"
      - "[0-9]+.[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+"
    paths-ignore:
      - ".gitignore"
      - "LICENSE"
      - "*.md"
      - "*.adoc"
      - "*.txt"
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  build-and-push-action:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: temurin
          cache: maven

      - name: Cache Maven packages
        uses: actions/cache@v5
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build and publish action to Maven repository
        shell: bash
        run: |
          ./mvnw -B clean deploy -Dquarkus.package.type=uber-jar -Dquarkus.package.add-runner-suffix=false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
